@use "@nationalarchives/frontend/nationalarchives/variables/forms";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

@use "@nationalarchives/frontend/nationalarchives/all";

.tna-card {
  .tna-hgroup {
    &__supertitle {
      @include colour.orange-accent;
    }

    &__title {
      display: flex;
    }
  }

  &__body {
    gap: spacing.space(0.5);

    small {
      @include colour.colour-font("font-light");
    }

    p {
      overflow-wrap: anywhere;

      &:has(small) {
        line-height: 1.2;
        word-break: break-all;
      }
    }
  }

  &:not(:has(&__image-container)) {
    .tna-hgroup__supertitle {
      margin-top: spacing.space(0.25);
      margin-left: spacing.space(2);

      float: right;
    }
  }
}

.discovery-search {
  .tna-search-field {
    @include media.on-medium {
      &__fields {
        flex-direction: column;
        align-items: stretch;
      }

      &__input {
        width: auto;

        border-right-width: forms.$form-field-border-width;
        border-bottom: none;
      }
    }
  }
}

mark {
  @include colour.yellow-accent;
  @include colour.accent;
}
